# --- CARPETAS DE AVES (Imágenes pesadas) ---
# Pon un # al principio de la que quieras subir HOY

Avefría teroCSV/
Baltimore Oriole/
Bienteveo Común/
Canario conorado/
Colibrí Cola Canela/
Fiofío Silbón/
Garza dedos dorados/
Jacana/
Luis Pico Grueso/
Papamoscas rayado chico/
Saltador garganta ocre/
Saltador Gris/
Tangara Azulgrís/
#Torcaza Colorada/
Vireo Ojos Rojos/
Zorzal sabia/

# --- ARCHIVOS DE SISTEMA E IA ---
yolov8n.pt
__pycache__/
.DS_Store